/*body {
    margin: 0;
    font-family: Arial;
    background-color: #24252a;
}

.topNavigationBar {
    width: auto;
    height: 65;
    overflow: hidden;
    background-color:#24252a;
}

.topNavigationBar button {
    border: 0px;
    float: left;
    color: white;
    text-align: center;
    padding: 19px 25px;
    text-decoration: none;
    font-size: 20px;
    background-color: #24252a;
}

.topNavigationBar button.active {
    background-color: #0169fe;
    left: 20%;
}

.topNavigationBar button.animated {
    position: relative;
}
  
.topNavigationBar button.animated::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4;
    height: 2px;
    background-color: #2d90be;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
}

.topNavigationBar button.animated:hover::before,
.topNavigationBar button.animated:focus::before {
    transform: scaleX(1);
}

.fa {
    padding: 10px;
    padding-right: 20px;
    float: right;
    text-align: center;
    text-decoration: none;
    color: white;
}*/

.menu
{
    padding-left: 40;
}